.header {
  display: flex;
  gap: 50px;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 16px 0;
  background-color: var(--scroll);
  margin-bottom: 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  stroke: var(--button-active);
  margin-left: 16px;
}

.nav-container {
  display: flex;
  gap: 24px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.active {
  color: var(--button-active);
}
